# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
*.env

# Data and models
data/
inference/checkpoints/
inference/predictions/
inference/submissions/
*.ckpt
*.pt
*.pth
*.pt
*.parquet

# Jupyter
.ipynb_checkpoints

# VSCode
.vscode/

# Logs
wandb/
mlruns/

# OS
.DS_Store
Thumbs.db